* {
    margin: 0;
    padding: 0;
}

.box {
    width: 500px;
    height: auto;
    padding: 10px 10px;
    margin: 0 auto;
    display: block;
    background: gray;
}

.box p {
    width: 100%;
    margin-right: -4px;
    box-sizing: border-box;
}

